.about-section {
    width: 100%;
    display: flex;
}

.info-container, .image-container {
    flex: 1;
}

.info-text {
    font-size: 20px;
    color: #ABB2BF;
    padding: 10px;
}

.image-container {
    display: flex;
    position: relative;
}

#dots1 {
    width: 100px;
}

#dots1 {
    position: absolute;
    left: 30px;
    top: 100px;
}

#dots2 {
    position: absolute;
    width: 150px;
    bottom: 100px;
    left: 350px;
}

.rectangle1 {
    position: absolute;
    right: 50px;
    width: 150px;
    height: 150px;
    border: 2px solid #ABB2BF;
}

button {
    color: white;
    font-weight: bold;
    border: 1px solid #BD53ED;
    font-size: 1.3vw;
    padding: 1vw;
    transition: 0.3s ease-in-out;
    background-color: #282C33;
}

button:hover {
    background-color: #BD53ED;
    color: white;
    border: 1px solid #BD53ED;
    transition: 0.3s ease-in-out;
}

@media (max-width: 480px) {
    .about-section {
        flex-direction: column;
    }

    .image-container {
        display: none;
    }

    button {
        font-size: 4vw;
        padding: 15px;
    }
}