<div class="footer-container">
    <div class="info-section">
        <div>
            <img src="../../../assets/icons/personal-logo.svg" class="logo">
            <span>Vladyslav Bortnik</span>
            <span class="email">vladikjbortnik@gmail.com</span>    
        </div>
        <div>
            <span>Web designer and front-end devepoler</span>
        </div>
    </div>
    <div class="media-section">
        <h1>Media</h1>
        <div class="logo-container">
           <a href="https://github.com/VladGitBrt" target="_blank"><img src="../../../assets/icons/github.svg" class="logo"></a> 
           <a href="https://www.linkedin.com/in/vlad-bortnik-5900ba214/" target="_blank"><img src="../../../assets/icons/linked.svg" class="logo"></a>
           <a href="https://t.me/brutnik"><img src="../../../assets/icons/telegram.svg" class="logo"></a> 
        </div>
    </div>
</div>
