<div class="dashboard-container">
    <!-- <h1>I love <span #animateText></span></h1> -->
    <!-- <a href="https://cryptoplaceholder-41488.web.app/auth/login">Link</a> -->
    <div class="social-container">
        <div class="v-line"></div>
        <a href="https://t.me/brutnik"  target="_blank"><img src="../../../assets/icons/telegram.svg" class="social-icon"></a>
        <a href="https://github.com/VladGitBrt"  target="_blank"><img src="../../../assets/icons/github.svg" class="social-icon"></a>
        <a href="https://www.linkedin.com/in/vlad-bortnik-5900ba214/"  target="_blank"><img src="../../../assets/icons/linked.svg" class="social-icon"></a>
    </div>
    <app-header></app-header>
</div>
