<div class="dashboard-container">
    <div class="social-container">
        <div class="v-line"></div>
        <a href="https://t.me/brutnik"  target="_blank"><img src="../../../assets/icons/telegram.svg" class="social-icon"></a>
        <a href="https://github.com/VladGitBrt"  target="_blank"><img src="../../../assets/icons/github.svg" class="social-icon"></a>
        <a href="https://www.linkedin.com/in/vlad-bortnik-5900ba214/"  target="_blank"><img src="../../../assets/icons/linked.svg" class="social-icon"></a>
    </div>
    <app-header></app-header>
    <app-showcase></app-showcase>
    <app-section-devider [sectionName]="'about_me'"></app-section-devider>
    <app-about-me></app-about-me>
    <app-section-devider [sectionName]="'projects'"></app-section-devider>
    <app-projects></app-projects>
    <app-section-devider [sectionName]="'skills'"></app-section-devider>
    <app-skills></app-skills>
    <app-section-devider [sectionName]="'contact_me'"></app-section-devider>
    <app-contact-me></app-contact-me>
    <app-footer></app-footer>
</div>
