.dashboard-container {
    width: 80vw;
    height: 100vh;
    margin: auto;
}

h1 {
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
}
h1 span {
    color: #BD53ED;
    position: relative;
}
h1 span::before {
    content: "";
    height: 30px;
    width: 2px;
    position: absolute;
    top: 50%;
    right: -8px;
    background: #BD53ED;
    transform: translateY(-45%);
    animation: blink 0.7s infinite;
}
h1 span.stop-blinking::before {
    animation: none;
}
@keyframes blink {
    50% { opacity: 0 }
}

.social-container {
    position: fixed;
    top: 80px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    padding: 0px 25px;
    
}

.v-line {
    height: 20vw;
    border: 1px solid #ABB2BF;
}

.social-icon {
    width: 2vw;
}

@media (max-width: 480px) {
    .social-container {
        display: none;
    }
}