header {
    width: 80vw;
    display: flex;
    margin: auto;
    padding-top: 20px;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    gap: 20px;
    font-size: 1.3vw;
}

.logo {
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 1vw;
    gap: 1vw;
}

.personal-logo {
    width: 2vw;
}

.bracket {
    color: #BD53ED;
}

.bar {
    display: none;
}

.mobile-nav-container {
    display: none;
}

@media (max-width: 480px) {
    .menu-desktop {
        display: none;
    }
    
    .personal-logo {
        width: 4vw;
    }

    .logo {
        font-size: 3vw;
    }

    .mobile-nav-container {
        display: flex;
        position: fixed;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 0px;
        width: 100vw;
        height: 100%;
        background-color: #282C33;
        color: white;
        gap: 15px;
        z-index: -1;
        transform: translateX(23%);
        transition: 0.3s ease-in-out;
    }
    
    .mobile-nav-container > div {
        display: flex;
        font-size: 30px;
    }

    input[type = "checkbox"] {
        display: none;
        visibility: hidden;
      }
      
      .bar {
        display: block;
        position: relative;
        cursor: pointer;
        width: 50px;
        height: 40px;
        z-index: 1;
      }
      
      .bar span {
        position: absolute;
        width: 45px;
        height: 7px;
        background: #BD53ED;
        border-radius: 100px;
        display: inline-block;
        transition: 0.3s ease;
        left: 0;
      }
      
      .bar span.top {
        top: 0;
      }
      
      .bar span.middle {
        top: 17px;
      }
      
      .bar span.bottom {
        bottom: 0;
      }
      
      input[type]:checked ~ span.top {
        transform: rotate(45deg);
        transform-origin: top left;
        width: 48px;
        left: 5px;
      }
      
      input[type]:checked ~ span.bottom {
        transform: rotate(-45deg);
        transform-origin: top left;
        width: 48px;
        bottom: -1px;
        box-shadow: 0 0 10px #495057;
      }
      
      input[type]:checked ~ span.middle {
        transform: translateX(-20px);
        opacity: 0;
      }

      #check:checked ~ div {
        transform: translateX(-77%);
        transition: 0.3s ease-in-out;
      }
}

