<header>
    <div class="logo">
        <img src="../../../assets/icons/personal-logo.svg" class="personal-logo">
        <span>Vladyslav Bortnik</span>
    </div>
    <nav class="menu-desktop">
        <span><span class="bracket">&lt;</span>home<span class="bracket">&gt;</span></span>
        <span><span class="bracket">&lt;</span>about_me<span class="bracket">&gt;</span></span>
        <span><span class="bracket">&lt;</span>skills<span class="bracket">&gt;</span></span>
        <span><span class="bracket">&lt;</span>projects<span class="bracket">&gt;</span></span>
        <span><span class="bracket">&lt;</span>contact_me<span class="bracket">&gt;</span></span>
    </nav>

    <label class="bar" for="check">
        <input type="checkbox" id="check">
    
        <span class="top"></span>
        <span class="middle"></span>
        <span class="bottom"></span>
        <div class="mobile-nav-container">
            <div>
                <p class="bracket">&lt;</p>home<p class="bracket">&gt;</p>
            </div>
            <div>
                <p class="bracket">&lt;</p>about_me<p class="bracket">&gt;</p>
            </div>
            <div>
                <p class="bracket">&lt;</p>skills<p class="bracket">&gt;</p>
            </div>
            <div>
                <p class="bracket">&lt;</p>projects<p class="bracket">&gt;</p>
            </div>
            <div>
                <p class="bracket">&lt;</p>contact_me<p class="bracket">&gt;</p>
            </div>          
        </div>
    </label>

</header>
