<div class="projects-section">
    <div class="project-container shadow-pop-bl">
        <img src="../../../assets/img/crypto.png" class="project-pic">
        <span class="tech">#HTML #CSS #Angular #JWT #TypeScript #REST_API</span>
        <div class="info-container">
            <span class="title">Crypto Placeholder</span>
            <span class="description">Placeholder for monitoring cryptocurrency</span>
            <div class="button-container">
                <a target="_blank" href="https://cryptoplaceholder-41488.web.app/dashboard">Live <~></a>
                <a target="_blank" href="https://github.com/VladGitBrt/Trade-Platform.git">Git Repo >=</a>    
            </div>
        </div>
    </div>
    <div class="project-container shadow-pop-bl">
        <img src="../../../assets/img/cat.jpg" class="project-pic">
        <span class="tech">#HTML #CSS #Angular #TypeScript #REST_API</span>
        <div class="info-container">
            <span class="title">CatAlogue</span>
            <span class="description">Gallery of random API cat pictures</span>
            <div class="button-container">
                <a target="_blank" href="https://github.com/VladGitBrt/CatAlogue.git">Git Repo >=</a>    
            </div>
        </div>
    </div>
    <div class="project-container shadow-pop-bl">
        <img src="../../../assets/img/dunk.png" class="project-pic">
        <span class="tech">#HTML #CSS #Angular #JavaScript #OpenLayers #Maps</span>
        <div class="info-container">
            <span class="title">DUNK</span>
            <span class="description">Social Network app to search for basketball courts</span>
            <div class="button-container">
                <a target="_blank" href="https://github.com/VladGitBrt/Basketball.git">Git Repo >=</a>    
            </div>
        </div>
    </div>
</div>
