<div class="contact-me-container">
    <div class="info-tab">
        <span>I'm interested in freelance opportunities, and long-term projects. However, if you have other request or question, don't hesitate to contact me</span>
    </div>
    <div class="contact-tab">
        <div class="contact-box">
            <span>Message me here</span>
            <div>
                <img src="../../../assets/icons/discord.svg" class="contact-icon">
                <span>brutnik</span>
            </div>
            <div>
                <img src="../../../assets/icons/Email.svg" class="contact-icon">
                <span>vladikjbortnik@gmail.com</span>
            </div>
        </div>
    </div>
</div>