<div class="showcase-container">
    <section>
        <span class="interactive-text">
           <span>I`m a </span><span class="purp">web designer </span><span>and </span><span class="purp">front-end developer</span><br><span class="anim">I love <span #animateText></span></span>
            <br>
            <span class="description">I create single-page applications, landing pages and complex angualr projects</span>
            <a>Contact me!</a>
        </span>
    </section>
    <section>
        <div class="showcase-wrapper">
            <img src="../../../assets/icons/stroked-logo.svg" alt="" class="stroked-logo">
            <img src="../../../assets/icons/dots.svg" alt="" class="cube">
            <span class="status">Currently looking for <span class="activity">Job</span></span>
        </div>
    </section>
</div>
<section class="quote-section">
    <div class="quote-container">
        <div class="quote">
            <span>Hard work is worthless for those that don't believe in themselves.</span>
            <img src="../../../assets/icons/quote.svg" class="quote-icon1">
            <img src="../../../assets/icons/quote.svg" class="quote-icon2">
        </div>
        <div class="quote-author">- Naruto</div>
    </div>
    
</section>