<div class="skills-section">
    <div class="abstract-container">
        <div class="rectangle1"></div>
        <div class="rectangle2"></div>
        <img src="../../../assets/icons/dots.svg" id="dots1">
        <img src="../../../assets/icons/dots.svg" id="dots2">
        <img src="../../../assets/icons/stroked-logo.svg" class="logo">
    </div>
    <div class="skills-info">
        <div class="skills-row">
            <div class="skills-container shadow-pop-bl">
                <span class="skill-title">Languages</span>
                <span class="skill-description">TypeScript JavaScript C#</span>
            </div>
        </div>
        <div class="skills-row">
            <div class="skills-container shadow-pop-bl">
                <span class="skill-title">Databases</span>
                <span class="skill-description">SQL MongoDb</span>
            </div>
            <div class="skills-container shadow-pop-bl">
                <span class="skill-title">Others</span>
                <span class="skill-description">HTML CSS SCSS ES6 REST OpenLayers Angular_Material Angular_Bootstrap</span>
            </div>
        </div>
        <div class="skills-row">
            <div class="skills-container shadow-pop-bl">
                <span class="skill-title">Tools</span>
                <span class="skill-description">VSCode Visual_Studio Windows Linux Figma GitHub Firebase</span>
            </div>
            <div class="skills-container shadow-pop-bl">
                <span class="skill-title">Technologies</span>
                <span class="skill-description">Angular Nx RxJs NgRx Trello Git NestJs Postman CSS_Flexbox</span>
            </div>
        </div>
    </div>
</div>
